{% extends 'app/base.html' %}
{% block title %}
Edit Post
{% endblock %}

{% block content %}
<div class="container mt-5 pt-4 mb-5 pb-5">
    <div class="row">
        <div class="col  mb-5 pb-5">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for txt in data %}
                  <tr>
                    <th scope="row">{{txt.title}}</th>
                    <td>{{txt.created_At}}</td>
                    <td>
                        <a href="{% url 'update' txt.slug %}" class="btn btn-success">Update</a>
                        <a href="{% url 'delete' txt.id %}" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                 {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock content %}